.header {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.header__button {
  width: 100%;
  width: 220px;
  padding: 1rem;
  margin: 0.5rem;
}
